.image-carousel {
  display: grid;
  grid-template: 600px 50px / 50px 800px 50px;
  border: 1px solid black;
  width: min-content;

  .current-image {
    width: 800px;
    height: 600px;
    overflow: hidden;

    .all-images {
      display: grid;
      place-items: center;
      grid-template-rows: 600px;
      grid-auto-columns: 800px;
      grid-auto-flow: column;

      position: relative;
      left: 0px;
      transition: left 0.4s ease-out;

      .image-for-carousel {
        width: auto;
        height: 600px;
        max-width: 800px;
      }
    }
  }

  .change-image-btn {
    appearance: none;
    border: none;
    cursor: pointer;

    transition: background-color 0.2s;
    background-color: #88888811;
    &:hover { background-color: #88888822; }
    &:active { background-color: #88888844; }
    &:focus { outline: 1px solid blue; }

    img {
      width: 80%;
      height: auto;
    }
  }

  .image-picker {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-top: 1px solid black;
    overflow: scroll;
    padding: 0px 8px;
    scrollbar-color: blue transparent;
    scrollbar-width: thin;

    .circle {
      appearance: none;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 50%;
      padding: 10px;

      transition: background-color 0.2s;
      background-color: #eee;
      &:hover { background-color: #ddd; }
      &:active { background-color: #ccc; }
      &:focus { outline: 1px solid blue; }
      &.selected { 
        background-color: #00c;
        &:hover { background-color: #00c; }
        &:active { background-color: #00c; }
      }
    }

    .auto-scroll-btn {
      appearance: none;
      margin-left: 10px;
      cursor: pointer;
      border: thin solid black;
      border-radius: 3px;
      padding: 2px 4px;
      font-weight: 700;
      font-size: 1rem;

      background-color: #0f0;
      &:hover { background-color: #1f1; }
      &:active { background-color: #2e2; }
      &:focus { outline: 1px solid blue; }

      &.manual {
        background-color: #fa0;
        &:hover { background-color: #f91; }
        &:active { background-color: #e92; }
      }
    }
  }
}
