.image-carousel {
  display: grid;
  grid-template: 1fr / 50px 800px 50px;
  border: 1px solid black;
  width: min-content;

  .current-image {
    width: 800px;
    height: 600px;
    overflow: hidden;

    .all-images {
      display: grid;
      place-items: center;
      grid-template-rows: 600px;
      grid-auto-columns: 800px;
      grid-auto-flow: column;

      position: relative;
      left: 0px;
      transition: left 0.4s ease-out;

      .image-for-carousel {
        width: auto;
        height: 600px;
        max-width: 800px;
      }
    }
  }

  .change-image-btn {
    appearance: none;
    border: none;
    cursor: pointer;

    transition: background-color 0.2s;
    background-color: #88888811;
    &:hover { background-color: #88888822; }
    &:active { background-color: #88888844; }

    img {
      width: 80%;
      height: auto;
    }
  }
}
